@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient( rgb(252, 6, 6),45%, rgb(8, 0, 0) 50%, #eee);
}
header h1 {
  font-family: 'bangers', cursive;
  font-size: 3rem;
  background: yellow;
}

.finder {
  display: flex;
  justify-content: center;
}

.grass > img { /* the '>' finds any element on the right which is a direct child of the element on the left */
  width: 120px;
  height: auto;
}

.pokedex {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.pokemon button{
  border: none;
  background: blue;
  border-radius: 20px;
  color: white;
}
.pokemon input {
  display: block;
  width: 100%;
}
.pokemon input::placeholder {
  text-transform: capitalize;
}
.pokemon h3 {
  text-transform: capitalize;
  cursor: pointer;
}
.pokemon button {
  border: none;
  border-radius: 7px;
  padding: .5rem 1rem;
  background: #3b4cca;
  color: white;
  font-weight: 700;
  font-size: .8rem;
}
.editor button {
  margin: .183rem;
  }
  .pokemon button:hover {
    background: #1a288f;
    cursor: pointer;
  }

  .editor input {
    border-radius: 7px;
    border: 1px solid #333;
    padding: .2rem;
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg)
    }
    33% {
      transform: rotate(-5deg)
    }
    66% {
      transform: rotate(5deg)
    }
    100% {
      transform: (rotate(0deg))
    }
  }
  .grass > img { /* the '>' finds any element on the right which is a direct child of the element on the left */
    width: 120px;
    height: auto;
    cursor: pointer;
  }

  